*{
    /* color: rgb(255, 255, 255); */
    color : #303030; 
    font-family: Verdana,sans-serif;
    font-weight: 100;
}

html {
    background-image: url("../image/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

body{
    padding: 0;
    margin: 0;
}

section {
    position: fixed;
    height: 100%;
}

#left {
    width: 30%;
    left: 0;
}

#left > #profile{
    position: absolute;
    display: block;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

#left > #profile > *{
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#left > #profile > img{
    width: 70%;
}

#left > #profile > p{
    text-align: center;
    font-size: larger;
    font-weight: 800;
}

#left > #profile > #description{
    font-size: small;
}

#right{
    margin-left: 5%;
    width: 70%;
    right: 0;
    overflow-y: scroll;
    margin: 0%;
    padding: 0%;
}

#right > p {
    font-size: x-large;
    font-weight: 800;
}

.info{
    display: inline-block;
    position: relative;
    height: 15%;
    width: 33%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    
    border-radius: 10px;
    background-color: #e3f4fa;
    border: 2px solid #000000;
    overflow-y: scroll;
    transition: transform .2s; 
}

.info::-webkit-scrollbar {
    width: 0.5em;
}

.info::-webkit-scrollbar-track{
    display: none;
}

.info::-webkit-scrollbar-thumb{
    background-color: rgb(18, 106, 150);
    border-radius: 40px;
    
}

.info:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.info > p {

}

.info > .title{
    font-weight: 600;
    margin: auto;
    text-align: center;
}

.info > .description{
    font-weight: 100;
    font-size: small;
}