#board>tr>td {
    width: 110px;
    height: 110px;
    border: 2px white solid;
    text-align: center;
    border-radius: 25px;
}



font {
    font-size: 70px;
}

sub {
    font-size: 35px;
    color: whitesmoke;
}

#guide>button {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    background-color: black;
    color: white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    font-weight: 900;
    font-size: 25px;
    border-right: 0;
    border-top: 0;
}

#guide {
    left: 50%;
    top: 20%;
    transform: translate(-50%,-20%);
    z-index: 99;
    position: relative;
    display: block;
    opacity: 100%;
    background-color: black;
    width: 80%;
    height: 90%;
    margin: 0;
    color: white;
    border: 1px solid white;
}

#guide>p {
    position: relative;
    font-size: 2.2vh;
    margin: 2%
}

#msgBox {
    padding: 15px 32px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: Cambria;
    font-weight: bold;
}

#main > * {
    margin: auto;
}

.button {
    width: 210px;
    height: 45px;
    background-color:black;
    border: 2px white solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Verdana;
    font-weight: bold;
    font-size: 16px;
    border-radius: 25px;
}



#main {
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: block;
    width: 70%;
    margin: auto;
}

#button_container {
    margin-right: 0;
}

body{
    background-color: black;
}

#keypad > tbody > tr > td > button{
    width: 45px;
    height: 45px;
    font-size: 15px;
    font-family: Verdana;
    font-weight: bold;
    color:white;
    background-color: black;
    border: 1px aliceblue solid;
    border-radius: 5px;
}