
body{
    background-image: url("../image/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 14px;
    font-weight: normal;
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

/* width */
::-webkit-scrollbar {
    display: none;
}


td:first-of-type{
    width: auto;
}

td:last-of-type{
    width: auto;
}


th, td {
    align-content: center;    
    text-align: center;
    height: 30px;
    width: 5%;
}


#container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    border-radius: 5px;
    position: static;
    margin-top: auto;
    width: 90%;
    max-height: 80%;
    margin: auto;
    display: block;
    overflow-y: scroll;
}

#table {
    font-size: 14px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
    border: none;
    border-collapse: collapse;
    background-color: #f8f8f8;
}

#table thead{
    top: 0;
    position: sticky;
    color: #ffffff;
    background: #4FC3A1;
}

#table tfoot{
    color: #ffffff;
    background: #4FC3A1;
    bottom: 0;
    position: sticky;
}


#table td{
    padding: 2px;
}

#table thead th {
    color: #ffffff;
    background: #4FC3A1;
}

#table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

/*
#table thead tr:nth-of-type(2) td {
    color: #ffffff;
    background: #324960;
}

#table thead tr:nth-of-type(2) td:nth-child(odd) {
    color: #ffffff;
    background: #4FC3A1;
}
*/


#table tbody tr:nth-child(even) {
    background: #cecece;
}


#mesg {
    display: block;
    text-align: center;
}

button, select{
    text-align: center;
    margin: 5px;
}

input[type='number'] {
    width: 60%;
    padding: 4px;
    border: 0;
    text-align: center;
    background: #324960;
    color: #cecece;
    -moz-appearance: textfield;
}

::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button, select, #mesg, input {
    font-size: 14px;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    background: rgba( 71, 147, 227, 1);
}

#mesg{
    position: static;
    width: 25%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}